<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
<p style="text-align: center;"><span style="color: #000080;"><strong><em>Наши контакты:</em></strong></span></p>
<p style="text-align: center;">&nbsp;</p>
<div style="text-align: center;">
<pre><span style="text-decoration: underline;">{{ flatpage.content }}</span></pre>
</div>
<p style="text-align: center;"><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p>
<p style="text-align: center;"><span style="background-color: #339966;">We are glad to see you</span></p>
<p style="text-align: center;"><span style="color: #ff9900;"><strong><span style="text-decoration: line-through;">!!!</span></strong></span></p>
</body>
</html>